<div class="comment-thread" id="comment-thread-1">
  <span class="comment-thread-header">Comments for Pin</span>
  <div  class="comment-history"></div>
  <textarea class="txt"></textarea>
  <span class= "minimize">-</span>
  <span class= "maximize">+</span>
  <span class= "colse">X</span>
</div>
