<div class="row">...</div>
<div class="row medium-centered bordered">

  <div class="medium-3 columns bordered" id="palette">
    
    <%= select_tag :palette, options_from_collection_for_select(@attribute_layers, :id, :label), include_blank: true, id: "layer-select" %>

    <% @attribute_layers.each do |attr_layer| %>    
    <div class="medium-block-grid-3 bordered layer hidden" id="<%= attr_layer.id %>">
      <img class="img-thm" src="http://placehold.it/60x60"> 
      <img class="img-thm" src="http://placehold.it/60x60"> 
      <img class="img-thm" src="http://placehold.it/60x60">
      <img class="img-thm" src="http://placehold.it/60x60"> 
      <img class="img-thm" src="http://placehold.it/60x60"> 
      <img class="img-thm" src="http://placehold.it/60x60">
      <%= attr_layer.id %>
    </div>
    <% end %>

  </div>
  
  <div class="medium-9 columns bordered">

    <div class="button-bar bordered" id="controls">

      <ul class="button-group">
        <li><a class="tiny button">&#60; Prev Vers.</a></li>
        <li><a class="tiny button">Next Vers. &#62;</a></li>
      </ul>
      
      <ul class="button-group">
        <li><a class="tiny button">Remove Img</a></li>
      </ul>

      <ul class="button-group">
        <li><a class="tiny button alert">Reset</a></li>
      </ul>
      
      <ul class="button-group">
        <li><a class="tiny button success" id="save">Save Vers.</a></li>
      </ul>
    
    </div>

    <div class="row" id="design-container">
    
      <div class="medium-centered medium-9 columns unselectable bordered" id="design">
        <img src="http://placehold.it/600x600">...
      </div>
 
    </div>

  </div>
</div>




<script type="text/javascript">

$(document).ready(function() {

  var user = "viksit"
  ,   role = "customer"
  ,   dvid = 1;

  $("#design-container")
                    .on("dblclick", "#design", function(e) {
                      console.log("dblclick");
                      params = { 'comment_thread': { 'pin_x': 23, 'pin_y': 35, 'design_version_id': 1 } };

                      $.ajax({
                        url     : "/comment_threads/", 
                        method  : "POST",
                        data    : params
                      });
                    })

                    .on("click", ".pin", function(e) {
                      var sel_pin_id_int          = parse_id_int($(e.target));
                      var sel_comment_thread_id   = "#comment-thread-" + sel_pin_id_int;

                      $(".comment-thread").addClass("hidden");
                      $(sel_comment_thread_id).removeClass("hidden")
                                              .find("textarea").focus();
                    })

  $("#controls")
          .on("click", "#save", function(e) {

            $(".unsaved").each(function(i, ct) {
              
              var ct_id   = parse_id_int($(ct).attr("id"));
              var pin_y   = $("#pin-"+ct_id).css("left");
              var pin_x   = $("#pin-"+ct_id).css("top");

              $(".new", $(ct)).each(function(j, c) {
                var new_comment = $(c).find(".text").text();
                params = { 'comment': { 'text': new_comment, 'comment_thread_id': ct_id, 'user_id': 1 } };
                $.ajax({
                  url       : "/comment_threads/" + ct_id + "/comments/",
                  method    : "POST",
                  data      : params,
                  success   : function() { $(c).removeClass("new"); }
                });
              })

              $.ajax({
                url         : "/comment_threads/"+ct_id,
                method      : "PUT",
                data        : { 'comment_thread' : { 'pin_x': pin_x, 'pin_y': pin_y, 'design_version_id': dvid } },
                success     : function() { $(ct).removeClass("unsaved"); }
              });
            });

            $.ajax({
              url         : "design_versions/",
              method      : "POST",
              data        : { 'design_version' : { 'project_id': 1 } },
              success     : function() { 
                              dvid = "<%= session[:design_version_id] %>";
                              $("#save").addClass("disabled");
                            }
            });

          });


  $("#controls")
          .on("click", "#reset", function(e) {


          });



  $("#layer-select").on("change", function() {
    var self        = $("layer-select");
    var layer_id    = this.options[this.selectedIndex].value;
    var $sel_layer   = $("#"+layer_id);
    $(".layer").addClass("hidden");
    $sel_layer.removeClass("hidden");    
  });

  var count        = 0;                  
  var parse_id_int = function(str)  { return parseInt(str.split("-")[2]); };
  var get_count    = function()     { count += 1; console.log("get_count" + count); return count; }
});


</script>

















<style type="text/css">

.hidden {
  display: none;
}

.bordered {
  border: 1px solid gray;
}

.layer > img {
  padding: 4px;
}

#controls > ul > li > a {
  /*margin: 5px;*/
  color: #fff;
}

.unselectable {
   -moz-user-select     : none;
   -khtml-user-select   : none;
   -webkit-user-select  : none;
   -o-user-select       : none;
   user-select          : none;
}

.comment-thread {

  border: 1px solid gray;
  padding: 5px;
  min-width: 275px;
  max-width: 275px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  right:  0px;
  max-height: 300px;

}

.comment-history {

  min-height: 150px;
  max-height: 300px;
  overflow-y :scroll;
}

.close {
  color: red;
  float: right;
  cursor: hand; cursor: pointer;

}

.minimize {
    font-size: 50px;
    font-style: bold;
    color: gray;
    cursor: hand; cursor: pointer;
    float: right;
}
.maximize {
    font-size: 30px;
    font-style: bold;
    color: gray;
    cursor: hand; cursor: pointer;
    float: right;
}

.comment .customer {
    color: darkgreen;
    font-style: italic;
}

.comment .artisan {
    color: maroon;
    font-style: italic;
}

.comment-thread-header {
  font-weight: bold;
}
</style>