<div class="row">...</div>
<div class="row medium-centered bordered">

  <div class="medium-3 columns bordered" id="palette">
    
    <%= select_tag :palette, options_from_collection_for_select(@attribute_layers, :id, :label), include_blank: true, id: "layer-select" %>

    <% @attribute_layers.each do |attr_layer| %>    
    <div class="medium-block-grid-3 bordered layer hidden" id="<%= attr_layer.id %>">
      <img class="img-thm" src="http://placehold.it/60x60"> 
      <img class="img-thm" src="http://placehold.it/60x60"> 
      <img class="img-thm" src="http://placehold.it/60x60">
      <img class="img-thm" src="http://placehold.it/60x60"> 
      <img class="img-thm" src="http://placehold.it/60x60"> 
      <img class="img-thm" src="http://placehold.it/60x60">
      <%= attr_layer.id %>
    </div>
    <% end %>

  </div>
  
  <div class="medium-9 columns bordered">

    <div class="button-bar bordered" id="controls">

      <ul class="button-group">
        <li><a href="#" class="tiny button">&#60; Prev Vers.</a></li>
        <li><a href="#" class="tiny button">Next Vers. &#62;</a></li>
      </ul>
      
      <ul class="button-group">
        <li><a href="#" class="tiny button">Remove Img</a></li>
      </ul>

      <ul class="button-group">
        <li><a href="#" class="tiny button alert">Reset</a></li>
      </ul>
      
      <ul class="button-group">
        <li><a href="#" class="tiny button success" id="save">Save Vers.</a></li>
      </ul>
    
    </div>

    <div class="row" id="design-container">
    
      <div class="medium-centered medium-9 columns unselectable bordered" id="design">
        <img src="http://placehold.it/600x600">...
      </div>
 
    </div>

  </div>
</div>




<script type="text/javascript">

$(document).ready(function() {

  var user = "viksit"
  ,   role = "customer";

  $(".img-thm").draggable( { helper: "clone" } )
              
  $("img")
          .css ( { 'opacity' : 0.7, 'zIndex': 10 } )
          // .data( { 'originalLeft': $("img").css('left'), 'origionalTop': $("img").css('top') } );


  // var des_vers_id = parseInt("<%#= @design_version.id %>");
  var des_vers_id = 1;

  $("#design-container").on("dblclick", "#design", function(e) {
    console.log("dblclick");
    $.ajax({
      params:   { 'design_version_id': des_vers_id },
      url:      "/comment_threads/new"
    });
  });

  $("#save").on("click", function(e) {
    console.log("saving!")
    $(".comment-thread").each(function() {
      $comment_thread = $(this);
      console.log($comment_thread.attr("id"));
    });
  });


  $("#layer-select").on("change", function() {
    var self        = $("layer-select");
    var layer_id    = this.options[this.selectedIndex].value;
    var $sel_layer   = $("#"+layer_id);
    $(".layer").addClass("hidden");
    $sel_layer.removeClass("hidden");
  });

  $("#design-container").droppable({
    drop: function(event, ui) {
            // var $image = $(ui.helper);
            // if ($image.hasClass("dropped-img-thm")) { return false; }
            $image_clone = $image.clone().removeClass("img-thm").addClass("dropped-img-thm");
            // $("#design-container").append($image_clone);
          }
  });

});

</script>

















<style type="text/css">

.hidden {
  display: none;
}

.bordered {
  border: 1px solid gray;
}

.layer > img {
  padding: 4px;
}

#controls > ul > li > a {
  /*margin: 5px;*/
  color: #fff;
}

.unselectable {
   -moz-user-select     : none;
   -khtml-user-select   : none;
   -webkit-user-select  : none;
   -o-user-select       : none;
   user-select          : none;
}

</style>