<div class="row">...</div>
<div class="row medium-centered bordered">

  <div class="medium-3 columns bordered" id="palette">
    
    <%= select_tag :palette, options_from_collection_for_select(@attribute_layers, :id, :label), include_blank: true, id: "layer-select" %>

    <% @attribute_layers.each do |attr_layer| %>    
    <div class="medium-block-grid-3 bordered layer hidden" id="<%= attr_layer.id %>">
      <img src="http://placehold.it/60x60"> 
      <img src="http://placehold.it/60x60"> 
      <img src="http://placehold.it/60x60">
      <img src="http://placehold.it/60x60"> 
      <img src="http://placehold.it/60x60"> 
      <img src="http://placehold.it/60x60">
      <%= attr_layer.id %>
    </div>
    <% end %>

  </div>
  
  <div class="medium-9 columns bordered">

    <div class="button-bar bordered" id="controls">

      <ul class="button-group">
        <li><a href="#" class="tiny button">&#60; Prev Vers.</a></li>
        <li><a href="#" class="tiny button">Next Vers. &#62;</a></li>
      </ul>
      
      <ul class="button-group">
        <li><a href="#" class="tiny button">Remove Img</a></li>
      </ul>

      <ul class="button-group">
        <li><a href="#" class="tiny button alert">Reset</a></li>
      </ul>
      
      <ul class="button-group">
        <li><a href="#" class="tiny button success">Save Vers.</a></li>
      </ul>
    
    </div>

    <div class="row" id="design-container">
    
      <div class="medium-centered medium-9 columns bordered" id="design">
        <img src="http://placehold.it/600x600">
      </div>
 
    </div>

  </div>
</div>




<script type="text/javascript">

$(document).ready(function() {

  $("#layer-select").on("change", function() {
    var self        = $("layer-select");
    var layer_id    = this.options[this.selectedIndex].value;
    var $sel_layer   = $("#"+layer_id);
    $(".layer").addClass("hidden");
    $sel_layer.removeClass("hidden");    
  });


});
</script>

















<style type="text/css">

.hidden {
  display: none;
}

.bordered {
  border: 1px solid gray;
}

.layer > img {
  padding: 4px;
}

body > div > div > div > div.medium-9.columns.bordered > div.button-bar.controls.bordered > ul > li > a {
  margin: 5px;
}
</style>